/*------------------------------------------------------------------------

	Author: Colin Sproule - 2013 DSYIP Intern
	Date: March 2013
	
	This stylesheet is used to override and customize the OSClass
	"modern" theme. Minimum changes were created in hopes that the
	this theme will hold up over time.
	
	How this theme has developed over time can be seen in the
	public repository on github:
	
	https://github.com/cawlin/calgarydollars

------------------------------------------------------------------------*/


/* Overiding styles to make the modern theme Calgary Dollars
------------------------------------------------------------------------*/

/* change form random width of 970px; */
.container { width: 960px; }

/* increase login/registration box width */
.user_forms .inner { width:938px;}

/* increase login/registration form field widths to match selector */
.user_forms form input { width:338px; }

/* increase login/registration form field widths to match selector */
.user_forms form p { margin-bottom: 15px;}


/* Misc Styles
------------------------------------------------------------------------*/

/* wrap around fields in a form to add top/bottom borders */
.form-section {
	border-top: 1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
	padding: 20px 0 5px 0;
	margin: 0 0 20px 0;
}

/* bottom border only */
.form-section.btm {
	padding-top: 0;
	margin-top: 0;
	border-top: 0;
}

p {margin-bottom: 10px;}

.flashmessage,
.flashmessage {
	width: 956px;
}

.flashmessage-ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Header
------------------------------------------------------------------------*/


#header {
	border-bottom: 0;
	padding-bottom: 5px;
}

#header #user_menu ul li.first  {
	border: 0;
	padding: 0;
}

#header .publish_button {
	margin-right: 0;
}

#header #user_menu {
	right: 0;
	padding-top: 15px;
}


/* Navigation
------------------------------------------------------------------------*/

#top-nav {
	margin-top: 10px;
	padding: 15px 10px;
	width: 938px;
	background: #333;
	border: 1px solid #666;
}

#top-nav a {
	font-size: 13px;
	color: white;
	margin-left: 4px;
	padding: 0px 4px 0 10px;
	text-decoration: none;
/*	background: #069;*/
/*	-webkit-border-radius: 5px;*/
	border-left: 1px solid #999;
}

#top-nav a.first {
	border-left: none;
	padding-left: 0;
}

#top-nav a:hover {
	text-decoration: underline;
}

/* Front Page (homepage - frontpage.php)
------------------------------------------------------------------------*/

#splash {
	height: 400px;
	background: #e9f5f9 url(images/frontpage/calgary.jpg);
	margin-bottom: 10px;
	position: relative;
}

#splash h2 {
	padding-top: 40px;
	margin-bottom: 220px;
	text-align: center;
	font-size: 42px;
	top: 0;
	left: auto;
	color: #333;
	letter-spacing: -2px;
}

#splash .searchwrap {
	background: rgba(256,256,256,0.8);
	text-align: center;
	padding: 15px 0;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #333;
}

#splash .search {
	border: 0;
	margin: 0;
}

#splash .search fieldset {
	padding: 0;
}

#splash form {
	height: auto;
}

#splash form .selector {
	text-align: left;
}

#splash #search-example {
	display: none;
}

#splash .button {
	background:#ec4901 url(images/button_link_bg.gif) repeat-x top; 
	border:1px solid #c54f00;
	color: white;
}

#frontpage .columns {
	margin-bottom: 40px;
}

#frontpage .columns td {width: 300px;}
#frontpage .columns .first {padding-right: 30px;}
#frontpage .columns .last {padding-left: 30px;}

#frontpage .columns h3 {
	font-size: 16px;
	font-weight: normal;
	background: #333;
	color: white;
	padding: 20px 10px;
	margin-bottom: 10px;
	line-height: 0;
}

#frontpage .large {
	font-size: 14px;
	margin-bottom: 10px;
	background: #e9f5f9;
	border: 2px solid #bed7df;
	padding: 10px;
	color: #333;
}


#frontpage .latest_ads h2 {
	border-top: 1px solid #ddd;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: normal;
	padding: 20px 10px;
}

#frontpage #main {
	width: 960px;
}

/* Registration Form (user-register.php)
------------------------------------------------------------------------*/

.user_forms h1 {
	font-size: 20px;
}


	
#join-steps ul {
	padding-left: 20px;
	list-style: disc;
	font-size: 16px;
	line-height: 1.5;
}

#join-steps p {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.5;
}

.register-box {
	background:#FFF; 
	border:1px solid #DDD; 
	clear:both; 
	padding:13px; 
	-moz-border-radius:10px; 
	border-radius:10px;
	margin-bottom: 10px ;
}

.register-box h2 {
	font-size: 14px;
	margin-bottom: 10px;
}


#search-head .main {
	background: #eee;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px;
}

#search-head .main .button {
	background: #ccc;
	border: 1px solid #999;
}

#search-head .main .button span {
	padding-bottom: 7px;
	padding-top: 7px;
}

/* Item Posting
------------------------------------------------------------------------*/

#uniform-meta_calgary-dollars-accepted {
	width: 238px;
}

#uniform-meta_calgary-dollars-accepted span {
	width: 200px;
}

.general_info .title {
	margin-bottom: 10px;
}

/* Single Ad Display (item.php)
------------------------------------------------------------------------*/

#item_head {
	background: #e9f5f9;
	border: 1px solid #bed7df;
	border-bottom-style: dashed;
	width: 958px;
}

#item-price-container {
	font-size: 16px;
	padding: 10px 10px;
	border: 1px solid #bed7df;
	border-top: 0;
	background: #dceff5;
}

#item-plugin-container {
	margin-top: 15px;
}

.item #photos {
	padding-top: 10px;
	margin-bottom: 10px;
}

.item #photos img {
	border: 0;
	margin-right: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	background: #efefef;
}

.item #photos img:hover {
	background: #069;
}

.item #description {
	padding-top: 10px;
}

.item #type_dates {
	border-bottom: 0;
	padding: 0;
	margin-bottom: 10px;
	font-size: 10px;
}

.item #item_location {
	margin: 0;
}

.item #item_location li {
	border: 0;
	width: auto;
}

.item #contact {
	margin-top: 0;
}


/* Page Typography
------------------------------------------------------------------------*/

/* 
	!important is needed below to override the very poor styles given to 
	text when entering content with the WYSIWYG this is an unfortunate 
	hack but makes for more readable content
*/

.page p {
  margin: 0 0 10px !important;
}

.page small {
  font-size: 85% !important;
}
.page strong {
  font-weight: bold !important;
}

.page em {
  font-style: italic !important;
}

.page cite {
  font-style: normal !important;
}
.muted {
  color: #999999 !important;
}

.page h1,.page h2, .page h3, .page h4, .page h5, .page h6 {
  margin: 10px 0 !important;
  font-family: inherit !important;
  font-weight: bold !important;
  line-height: 20px !important;
  color: inherit !important;
  text-rendering: optimizelegibility !important;
}
.page h1 small, .page h2 small, .page h3 small, .page h4 small, .page h5 small, .page h6 small {
  font-weight: normal !important;
  line-height: 1 !important;
  color: #999999 !important;
}
.page h1, .page h2, .page h3 {
  line-height: 40px !important;
}

.page h1 {
  font-size: 34px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #ddd !important;
  margin: 0 0 30px 0 !important;
}

.page h2 {
  font-size: 31.5px !important;
}

.page h3 {
  font-size: 24.5px !important;
}

.page h4 {
  font-size: 17.5px !important;
}

.page h5 {
  font-size: 14px !important;
}

.page h6 {
  font-size: 11.9px !important;
}

.page h1 small {
  font-size: 24.5px !important;
}

.page h2 small {
  font-size: 17.5px !important;
}

.page h3 small {
  font-size: 14px !important;
}

.page h4 small {
  font-size: 14px !important;
}

.page ul,.page ol {
  padding: 0 !important;
  margin: 0 0 10px 25px !important;
}

.page ul {
	list-style-type: disc !important;
}

.page ol {
	list-style-type: decimal !important;	
}

.page ul ul, .page ul ol, .page ol ol, .page ol ul {
  margin-bottom: 0 !important;
}

.page li {
  line-height: 20px !important;
}

.page dl {
  margin-bottom: 20px !important;
}

.page dt, .page dd {
  line-height: 20px !important;
}

.page dt {
  font-weight: bold !important;
}

.page dd {
  margin-left: 10px !important;
}
.dl-horizontal {
  *zoom: 1 !important;
}

.page hr {
  margin: 20px 0 !important;
  border: 0 !important;
  border-top: 1px solid #eeeeee !important;
  border-bottom: 1px solid #ffffff !important;
}

.page blockquote {
  padding: 0 0 0 15px !important;
  margin: 0 0 20px !important;
  border-left: 5px solid #eeeeee !important;
}

.page blockquote p {
  margin-bottom: 0 !important;
  font-size: 17.5px !important;
  font-weight: 300 !important;
  line-height: 1.25 !important;
}

.page blockquote small {
  display: block !important;
  line-height: 20px !important;
  color: #999999 !important;
}

.page address {
  display: block !important;
  margin-bottom: 20px !important;
  font-style: normal !important;
  line-height: 20px !important;
}

/* Footer
------------------------------------------------------------------------*/

#footer-ads {
	padding: 10px 0;
}

#footer-ads img.first {
	margin-right: 15px;
}

#footer-ads small {
	font-size: 11px;
	color: #999;
}



